html {
  overflow-x: hidden;
  font-size: 100%;
  box-sizing: border-box;
  background: #eee;
  font-family: "PT Sans", sans-serif;
  font-weight: $--font-weight400;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:focus{
  outline: none;
}

:focus-visible{
  outline: 4px dotted $--contrast-color;
}

body,
ul,
li,
a,
h4,
h5,
h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $--col-white;
}

ul, li {
  color: $--col-white;
  text-decoration: none;
  list-style: none;
}

h1 {
  color: $--h1s-color;
}

// Visibility
.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}

// Default Icon style
.fas,
.far,
.fab {
  font-size: 20px;
  color: $--menu-color;
}

.-icon-darkmode {
  color: $--col-white;
}

// wall REMOVE LATTER
.tirateima {
  display: none;
  height: 122px;
  background-color: rgb(196, 120, 120);
}
