.swiper {
  z-index: 1;

  &-container {
    height: 100vh;
  }

  &-wrapper {
    background-color: #666;
  }

  &-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &-button-prev {
    color: $--logo-color !important;
    opacity: 0.7;
    margin: 0 1vw;
  }

  &-button-next {
    color: $--logo-color !important;
    opacity: 0.7;
    margin: 0 1vw;
  }

  &-pagination-bullet-active {
    background: $--logo-color !important;
  }
}

.-slide1 {
  background-size: cover;
  background-position: center;
  background: linear-gradient(
      0.25turn,
      #ffffffb2,
      #ffffffb2,
      #fafafa00,
      #fafafa00
    ),
    url(../images/slide-1.jpg);

  & > * {
    width: 100%;
  }

  &-title {
    font-size: 12rem;
  }

  &-subtitle {
    font-size: 2.5rem;
  }
}

.-slide2 {
  background-size: cover;
  background-position: center;

  background: linear-gradient(
      0.75turn,
      #ffffffb2,
      #ffffffb2,
      #fafafa00,
      #fafafa00
    ),
    url(../images/slide-2.jpg);

  & > * {
    width: 100%;
  }

  &-title {
    font-size: 12rem;
  }

  &-subtitle {
    font-size: 2.5rem;
  }
}

.-slide3 {
  background-size: cover;
  background-position: center;

  background: linear-gradient(
      0.5turn,
      #ffffffb2,
      #ffffffb2,
      #ffffffb2,
      #fafafa00
    ),
    url(../images/slide-3.jpg);

  & > * {
    width: 100%;
  }

  &-title {
    font-size: 12rem;
    margin-bottom: 0 !important;
  }
  &-subtitle {
    font-size: 2.5rem;
  }
}

.heading-slide1 {
  text-align: start;
  // margin is supposed to be 10vw, swiper is trying to be funny, come back later*
  margin: 0 0 0 20vw;
}

.heading-slide2 {
  text-align: end;
  // margin is supposed to be 10vw, swiper is trying to be funny, come back later*
  margin: 0 20vw 0 0;
}

.heading-slide3 {
  text-align: center;
  // margin is supposed to be 10vw, swiper is trying to be funny, come back later*
}
