nav {
  z-index: 3;
  position: fixed;
  display: flex;

  top: 0;
  width: 100%;
  background: linear-gradient(135deg, #ffffff00, #c4ffe620, #26592f, #142714);
  background-size: 300% 300%;
  box-shadow: 5px 5px 50px 50px rgba(0, 0, 0, 0.04);
}

nav > * {
  width: 100%;
}

.nav {
  &-flexcontainer {
      position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: $--container-margin;
  }

  &-flexcontainer > * {
    justify-content: space-between;
    width: 100%;
  }

  &-logocontainer {
    display: flex;
    justify-content: flex-start;
    margin: 1rem;
  }

  &-logo {
    display: flex;
    justify-self: flex-start;

    &-svg {
      filter: invert(28%) sepia(20%) saturate(1149%) hue-rotate(79deg)
        brightness(50%) contrast(95%);
    }
  }

  &-menucontainer {
    display: flex;
    justify-content: center;
    margin: 1rem;
  }

  &-menu {
    display: flex;
    justify-content: center;

    & > .-item {
      color: $--menu-color;
      font-size: $--fs-medium;
      font-weight: $--menu-weight;
      letter-spacing: 1px;
      margin: 1.25rem;

      &::after{
          content:"";
          position: relative;
          bottom: 0;
          display: flex;
          width: inherit;
          height: 2px;
          background: transparent;
      }
    }
  }

  &-iconcontainer {
    display: flex;
    justify-content: flex-end;

    & > .-icon {
      margin: 0 0 0 16px;
    }
  }
}
