.section-gallery-circles {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: $--container-margin;

  & > * {
    width: 100%;
  }
}

.-gallery-img {
  flex: 1 1;
  border-radius: 50%;

  margin: 8rem 2rem;

  background: #d3d3d3;
  outline: 1px solid #c5c5c500;
  outline-offset: 19px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    animation: img-hover-anim 250ms ease forwards;
      outline: 1px solid #d4d4d4;

  }
  transition: all 500ms ease-in-out;
}
